@import "includes/fonts"
@import "includes/variables"
@import "includes/mixins"
@import "includes/normalize"

// modules
@import "modules/main_header"
@import "modules/main_menu"
@import "modules/burger"


// Custom Resets
// -------------------
body
  padding-top: $mobile_header_height

a, button
  outline: 0px !important

*
  -webkit-font-smoothing: antialiased


// Content Well
// -------------------
.content_wrapper
  width: 100%
  overflow-x: hidden

  &.open .page_content
    -webkit-transform: translateX(228px)

  &.open .cover_image
    -webkit-transform: translateX(228px)

.page_content
  -webkit-transition: transform 0.5s
  -webkit-transform: translateX(0px)

.page_content__header

.page_content__content
  +font(14, 24)
  font-family: $serif
  margin-top: 50px
  padding: 0px $mobile_padding_large 90px
  background: $white

  p
    padding: 0 0 40px

.cover_image
  +block(100%, 240px)
  background: url("../images/background-image.jpg") center center
  background-size: cover
  -webkit-transition: transform 0.5s
  -webkit-transform: translateX(0px)

.title
  +font(44, 48)
  font-family: $brand
  padding: 50px $mobile_padding_large 0

// Footer
// --------------------
.site_footer
  +block(228px, 48px)
  background: $white
  position: fixed
  bottom: 0px
  left: 0px
  z-index: 1000
  -webkit-transform: translateX(-228px)

  &.open
    -webkit-transition: transform 0.5s
    -webkit-transform: translateX(0px)

.site_footer__copyright
  +font(12, 48)
  font-family: "Helvetica Neue", helvetica, arial, sans-serif
  padding: 0 $mobile_padding_large

// Masks
// --------------------
.main_menu__blocker
  +block(100vw, 100vh)
  position: fixed
  top: 0px
  left: 0px
  z-index: 998
  background: $trans_black
  cursor: pointer
  -webkit-transition: opacity 0.5s
  -webkit-transform: translateX(100vw)
  opacity: 0

  &.open
    -webkit-transform: translateX(0vw)
    opacity: 1

.main_menu__blocker--small
  display: block

.main_menu__blocker--large
  display: none


// *************************
// Large Screen Styling
// *************************
+mq(m)

  body
    padding-top: $desktop_header_height

  .content_wrapper

    &.open .page_content
      -webkit-transition: none
      -webkit-transform: translateX(0px)

    &.open .cover_image
      -webkit-transition: none
      -webkit-transform: translateX(0px)

  .cover_image
    height: 640px
    position: fixed
    top: $desktop_header_height
    left: 0px
    z-index: 0

  .page_content__header
    +block(100%, 640px)
    position: relative

  .title
    display: block
    position: absolute
    top: 50%
    left: 50%
    padding: 0px
    +font(120, 132)
    color: $white
    -webkit-transform: translate(-50%, -50%)

  .page_content__content
    background: $white
    +font(24, 36)
    position: relative
    z-index: 1
    margin-top: 0px
    p
      width: 968px
      margin: 0px auto
      padding: 60px 0 0

  .site_footer
    display: none

  .main_menu__blocker--small
    display: none

  .main_menu__blocker--large
    display: block
