// Colors
// ---------------------
$huge_magenta: #ec008c
$white: #fff
$light_grey: #eeeeee
$trans_black: rgba(0, 0, 0, 0.5)

// Fonts
// ---------------------
$brand: "HUGEAvantGardeBold", helvetica, arial, sans-serif
$serif: "Galaxie", helvetica, arial, sans-serif

// menu sizes
// --------------------------------------
$mobile_padding_large: 24px
$mobile_padding_small: 20px
$mobile_header_height: $mobile_padding_small * 3
$desktop_header_height: $mobile_padding_large * 3
$mobile_item_height: 48px
